html {
    background: white;
    min-height: 100%;
    background-color: white;
}

body {
    background-color: transparent;
    min-height: 100% !important;
}

.divLogotipo {
    text-align: left;
}

.divLogotipo img {
    height: 3em;
}

.divLog {
    text-align: right;
}

.divLog img {
    height: 2em;
}

.divTituloApp {
    text-align: center;
    font-size: 1.5em;
}

#secEncabezadoPagina {
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#cabeceraApartados {
    background-color: #4CAF50;
}

#miNombre {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

#logoLogin {
    display: flex;
    align-items: center;
    justify-content: right;
}

#logOut {
    background: linear-gradient(180deg, #689F38 0%, #4CAF50 100%);
    border-radius: 10px;
}

#secMenuPagina {
    padding-left: unset;
    padding-right: unset;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
}

#bloqueContenido {
    background: transparent;
    background-color: white;
    padding-bottom: 45px;

}

#secContenidoPagina {
    background: transparent;
    background-color: white;
}

#bloqueTxt {
    margin-top: 15px;
    margin-bottom: 5px;
}

#txtBusqueda {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
}

input {
    background: white;
    border: solid #45a049;
}

#btnBuscar {
    background: linear-gradient(180deg, #689F38 0%, #4CAF50 100%);
    border: none;
}
#tablaListado {
    margin-top: 15px;
}

#tablaListado th,
#tablaListado td {
    border-top: 1px solid #4CAF50;
    border-bottom: 1px solid #4CAF50;
    text-align: left;
}

/* Personalización para colores de Bootstrap */
.bg-success {
    background-color: white !important;
}

.bg-info {
    background-color: white !important;
}

.table-dark th, .table-dark td {
    background-color: white !important;
    color: black;
}

.table-dark tbody tr:nth-child(odd) td {
    background-color: white !important;
}

.table-dark tbody tr:hover td {
    background-color: white !important;
}

#capaResultadosBusqueda {
    width: 100% !important;
    height: 700px;
    overflow: auto;
    border: solid #4CAF50 1px;
}

select {
    background: linear-gradient(180deg, #689F38 0%, #4CAF50 100%);
    border: none;
}

#formulario_añadir {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
}

#boton_agregar {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

#boton_agregar:hover {
    background-color: #45a049;
}

#body_formulario{
    background-color: #4CAF50;
}



